@charset "utf-8";
/* CSS Document */
p {
	color: black;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: green;
	padding: 10px;

}

h1, h2 {
	color: purple;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia "serif";

}
body {

	background-image: url("https://wallpaperaccess.com/full/732257.jpg");

}

a {
	color: white;
	background-color: green;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia "serif";

}
img {
	height: 200px;

}
